<div class="card-body">
    <ul class="timeline">
        <li *ngFor="let info of taskInfo; trackBy: trackByFn;" [ngClass]="info.positionClass">
            <div class="timeline-badge" [ngClass]="info.statusClass" [innerHTML]="info.html"></div>

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title" [innerHTML]="info.title"></h4>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o" [innerHTML]="info.timeLeft"></i></small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p [innerHTML]="info.description"></p>
                </div>
            </div>
        </li>
    </ul>
</div>
