<nav class="navbar navbar-expand-lg fixed-top">
  <div class="navbar-brand">HoldMyBeer</div>
  <a routerLink="/dashboard" class="list-group-item nav-link navbar">
    <i class="fa fa-fw fa-dashboard"></i> Dashboard
  </a>


  <a [routerLink]="['/forms']" class="list-group-item navbar">
    <i class="fa fa-fw fa-edit"></i>&nbsp;
    <span>{{ 'Forms'}}</span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-user"></i> John Smith <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-user"></i> {{ 'Profile'}}
          </a>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox'}}
          </a>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa fa-fw fa-gear"></i> {{ 'Settings'}}
          </a>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out'}}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
